@import "animation";

body {
  animation: rollingDay 20s ease-out infinite;
  border: 0;
  font-family: "Roboto Slab", "Verdana", sans-serif;
  height: 100%;
  margin: 0;
  font-size: 60%;
}

h1 {
  color: white;
  font-size: 3rem;
  margin: 2rem 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px #000000;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

// react requires a parent div so we have to set that
// and the main element to 100% for flex justify content to work
html,
body,
#container,
#container > div {
  height: 100%;
}

// desktop changes
@media (min-width: 850px) {
  h1 {
    margin: 2rem;
    text-align: left;
  }
}
