@import "animation";

$font-family: "Roboto Slab", "Verdana", sans-serif;
$color: #fff;
$text-shadow: #000;
$desktop-breakpoint: 850px;

html,
body {
  height: 100%;
}

body {
  animation: rollingDay 20s ease-out infinite;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

h1 {
  color: $color;
  font-size: 3rem;
  margin: 2rem 0;
  padding: 0;
  text-align: center;
  text-shadow: .1rem .1rem $text-shadow;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

// react requires a parent div so we have to set that
// and the main element to 100% for flex justify content to work
html,
body,
#container,
#container > div {
  height: 100%;
}

// desktop changes
@media (min-width: $desktop-breakpoint) {
  h1 {
    margin: 2rem;
    text-align: left;
  }
}
