.footer {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin: 1rem 0 0;
  opacity: .7;
  padding: 1rem;
  position: relative;
  text-align: center;
}
