$background-color: #fff;
$color: #000;

.footer {
  background-color: $background-color;
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .3), 0 0 4rem rgba(0, 0, 0, .1) inset;
  font-size: 1rem;
  margin: 2rem 0 0;
  padding: .5rem;
  position: relative;
  text-align: center;

  a {
    color: $color;
    text-decoration: underline;
  }
}
