.times {
  .time {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 1rem;

    &__time {
      font-size: 1.4rem;
      font-weight: 700;
    }

    &__main {
    }

    &__description {
      text-transform: capitalize;
    }

    &__icon {
      .icon {
        font-size: 3rem;
      }
    }
  }
}
